@import url("https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: url(../img/bg.svg); }

#header {
  position: absolute;
  width: 100%;
  padding: 2vw 12vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2; }
  #header .logo {
    font-size: 24px; }
    #header .logo i {
      margin-right: 10px;
      background-color: #e2e2d3;
      padding: 6px;
      border-radius: 4px; }
    #header .logo span {
      font: 600 28px/1 'alice';
      color: #e2e2d3; }
  #header .header-menu {
    display: flex; }
    #header .header-menu li {
      margin-left: 24px; }
      #header .header-menu li a {
        font: 16px/1 'alice';
        color: #fff;
        transition: all 0.3s; }
        #header .header-menu li a:hover {
          color: #e2e2d3; }
  #header .toggle {
    position: fixed;
    top: 32px;
    right: 80px;
    border: none;
    background-color: transparent;
    display: none; }
    #header .toggle i {
      font-size: 20px;
      padding: 6px;
      color: #a6a695;
      cursor: pointer; }

#home .background {
  width: 100%;
  height: 90vh;
  position: relative; }
  #home .background img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #home .background .title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    width: max-content; }
    #home .background .title h1 {
      font: bold 100px 'alice';
      margin-bottom: 25px;
      text-shadow: 10px 5px 10px #aaa; }
    #home .background .title span {
      position: relative;
      left: 50px;
      text-shadow: 5px 5px 5px #aaa; }
      #home .background .title span:before {
        content: '';
        display: block;
        width: 30px;
        border: 1px solid #e2e2d3;
        position: absolute;
        left: -40px;
        top: 10px; }
      #home .background .title span a {
        font: 20px 'alice';
        color: #e2e2d3;
        transition: all 0.3s;
        display: inline-block; }
        #home .background .title span a:hover {
          color: #fff;
          transform: translateX(10px); }
#home .info {
  background-color: #e2e2d3; }
  #home .info .inner {
    padding: 0 12vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #home .info .inner h2 {
      font: bold 28px/1 'alice'; }
    #home .info .inner .notice .alarm {
      font: 16px/1 'arial'; }
    #home .info .inner .notice .more {
      font: bold 16px/1 'alice';
      margin-left: 40px;
      position: relative; }
      #home .info .inner .notice .more::before {
        content: '';
        display: block;
        width: 20px;
        border-bottom: 2px solid #000;
        position: absolute;
        top: 8px;
        left: -30px; }
      #home .info .inner .notice .more a {
        transition: all 0.3s;
        display: inline-block;
        color: #000; }
        #home .info .inner .notice .more a:hover {
          transform: translateX(10px); }

#about {
  padding: 8vh 12vw 0vh 12vw;
  height: 100vh;
  display: flex;
  justify-content: space-between; }
  #about .intro {
    flex-basis: 30%; }
    #about .intro h1 {
      font: bold 60px/1 'alice';
      margin: 80px 0; }
    #about .intro h2 {
      font: 28px 'alice';
      margin-bottom: 40px;
      color: #a6a695; }
    #about .intro p {
      font: 16px/1.5 'arial';
      margin-bottom: 80px;
      color: #9e9e9e; }
    #about .intro span {
      font: bold 16px/1 'alice';
      margin-left: 30px;
      position: relative; }
      #about .intro span::before {
        content: '';
        display: block;
        width: 20px;
        border-bottom: 2px solid black;
        position: absolute;
        top: 8px;
        left: -30px; }
      #about .intro span a {
        color: #000; }
  #about .place-pics {
    flex-basis: 70%;
    padding: 2vw 0;
    display: flex;
    padding-right: 40px; }
    #about .place-pics img {
      object-fit: cover;
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6); }
    #about .place-pics .place1 {
      width: 40%;
      height: 80%;
      position: relative;
      top: 50px;
      left: 40px;
      filter: grayscale(0.6); }
    #about .place-pics .place2 {
      width: 60%; }

#exhibitions {
  padding: 10vh 12vw; }
  #exhibitions h1 {
    font: bold 60px/1 'alice';
    margin-bottom: 60px; }
  #exhibitions .displays {
    display: flex;
    justify-content: space-between; }
    #exhibitions .displays .display {
      width: 25%;
      padding: 10px; }
      #exhibitions .displays .display .inner {
        width: 100%; }
        #exhibitions .displays .display .inner img {
          width: 100%;
          height: 280px;
          object-fit: cover;
          margin-bottom: 40px;
          transition: all 0.3s ease;
          opacity: 0.8; }
          #exhibitions .displays .display .inner img:hover {
            transform: translateY(-20px);
            opacity: 1; }
        #exhibitions .displays .display .inner h2 {
          font: 18px/1 'alice';
          margin-bottom: 20px; }
        #exhibitions .displays .display .inner p {
          font: 16px/1.5 'arial';
          color: #aaa5bc;
          margin-bottom: 40px; }

#events {
  padding: 0 12vw 10vh 12vw; }
  #events h1 {
    font: bold 60px/1 'alice';
    position: absolute;
    left: 55%; }
  #events .event {
    display: flex;
    align-items: center;
    margin-bottom: 40px; }
    #events .event .event-pic {
      width: 50%; }
      #events .event .event-pic .img {
        margin: 0 auto;
        overflow: hidden;
        width: 80%;
        height: 400px; }
        #events .event .event-pic .img img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
          transition: all 0.3s;
          filter: grayscale(1); }
          #events .event .event-pic .img img:hover {
            filter: grayscale(0);
            transform: scale(1.2); }
    #events .event .event-description {
      width: 50%; }
      #events .event .event-description .inner {
        width: 80%;
        margin: 0 auto; }
        #events .event .event-description .inner h2 {
          font: 28px 'alice';
          color: #a6a695;
          margin-bottom: 40px; }
        #events .event .event-description .inner p {
          font: 16px/1.5 'arial';
          margin-bottom: 40px;
          color: #aaa5bc; }
        #events .event .event-description .inner span {
          font: bold 16px/1 'alice';
          margin-left: 30px;
          position: relative; }
          #events .event .event-description .inner span::before {
            content: '';
            display: block;
            width: 20px;
            border-bottom: 2px solid black;
            position: absolute;
            top: 8px;
            left: -30px; }
          #events .event .event-description .inner span a {
            display: inline-block;
            transition: all 0.3s;
            color: #000; }
            #events .event .event-description .inner span a:hover {
              transform: translateX(10px); }
  #events .reverse {
    flex-direction: row-reverse; }

#collection {
  padding: 10vh 12vw;
  background: #000; }
  #collection h1 {
    font: bold 60px/1 'alice';
    margin-bottom: 60px;
    color: #fff; }
  #collection .collection-intro {
    display: flex;
    justify-content: space-between; }
    #collection .collection-intro .colection-pics {
      flex-basis: 70%;
      display: flex; }
      #collection .collection-intro .colection-pics .collection1 {
        width: 60%;
        object-fit: cover; }
      #collection .collection-intro .colection-pics .collection2 {
        width: 40%;
        height: 80%;
        object-fit: cover;
        position: relative;
        top: 40px;
        left: -30px; }
    #collection .collection-intro .collection-description {
      flex-basis: 30%;
      padding: 20px; }
      #collection .collection-intro .collection-description h2 {
        font: 28px 'alice';
        margin: 40px 0;
        color: #fff; }
      #collection .collection-intro .collection-description p {
        font: 16px/1.5 'arial';
        margin-bottom: 40px;
        color: #aaa5bc; }
      #collection .collection-intro .collection-description span {
        font: bold 16px/1 'alice';
        margin-left: 30px;
        position: relative; }
        #collection .collection-intro .collection-description span::before {
          content: '';
          display: block;
          width: 20px;
          border-bottom: 2px solid #fff;
          position: absolute;
          top: 8px;
          left: -30px; }
        #collection .collection-intro .collection-description span a {
          display: inline-block;
          transition: all 0.3s;
          color: #fff; }
          #collection .collection-intro .collection-description span a:hover {
            transform: translateX(10px); }
  #collection .collection-gallery h2 {
    font: 28px 'alice';
    margin: 40px 0;
    color: #fff; }
  #collection .collection-gallery p {
    font: 16px/1.5 'arial';
    margin-bottom: 40px;
    color: #aaa5bc; }
  #collection .collection-gallery span {
    font: bold 16px/1 'alice';
    margin-left: 30px;
    position: relative; }
    #collection .collection-gallery span::before {
      content: '';
      display: block;
      width: 20px;
      border-bottom: 2px solid #fff;
      position: absolute;
      top: 8px;
      left: -30px; }
    #collection .collection-gallery span a {
      display: inline-block;
      transition: all 0.3s;
      color: #fff; }
      #collection .collection-gallery span a:hover {
        transform: translateX(10px); }

#testimonials {
  padding: 10vh 12vw;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #testimonials h1 {
    font: bold 60px/1 'alice';
    margin-bottom: 60px; }
  #testimonials .testimonial {
    text-align: center; }
    #testimonials .testimonial .profile img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6); }
    #testimonials .testimonial p {
      font: 16px/1.5 'arial';
      margin: 40px 0;
      color: #aaa5bc; }
    #testimonials .testimonial span {
      font: bold 28px 'alice';
      color: #a6a695; }

#guidance {
  padding: 5vh 12vw; }
  #guidance ul {
    display: flex;
    justify-content: space-between; }
    #guidance ul li {
      display: flex;
      flex-direction: column;
      width: 16%;
      text-align: center;
      padding: 30px; }
      #guidance ul li i {
        font-size: 60px;
        color: #e2e2d3;
        margin-bottom: 20px; }
      #guidance ul li span {
        font: 20px/1 'alice'; }
        #guidance ul li span a {
          color: #000; }
      #guidance ul li:hover {
        background-color: #e2e2d3; }
        #guidance ul li:hover i {
          color: #fff;
          transform: rotateY(180deg); }

#footer {
  background-color: #e2e2d3; }
  #footer .wrap {
    padding: 5vh 12vw; }
    #footer .wrap .footer-upper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px; }
      #footer .wrap .footer-upper .logo {
        font-size: 24px; }
        #footer .wrap .footer-upper .logo i {
          margin-right: 10px;
          background-color: #000;
          padding: 6px;
          border-radius: 4px;
          color: #fff; }
        #footer .wrap .footer-upper .logo span {
          font: 600 28px/1 'alice';
          color: #000; }
      #footer .wrap .footer-upper .footer-menu {
        display: flex; }
        #footer .wrap .footer-upper .footer-menu li {
          margin-left: 24px; }
          #footer .wrap .footer-upper .footer-menu li a {
            font: 16px/1 'alice';
            color: #000;
            transition: all 0.3s; }
            #footer .wrap .footer-upper .footer-menu li a:hover {
              color: #fff; }
    #footer .wrap .footer-lower ul {
      display: flex;
      justify-content: space-between; }
      #footer .wrap .footer-lower ul li {
        width: 25%; }
        #footer .wrap .footer-lower ul li .inner {
          display: flex;
          flex-direction: column;
          padding: 10px; }
          #footer .wrap .footer-lower ul li .inner h2 {
            font: bold 18px 'alice';
            margin-bottom: 10px; }
          #footer .wrap .footer-lower ul li .inner p {
            font: 14px/1.5 'arial';
            color: #a6a695; }
          #footer .wrap .footer-lower ul li .inner > a {
            color: #a6a695; }
          #footer .wrap .footer-lower ul li .inner input {
            max-width: 200px;
            margin: 20px 0; }
          #footer .wrap .footer-lower ul li .inner span a {
            color: #000; }
  #footer .copyright {
    height: 70px;
    background: #000;
    color: #aaa5bc;
    text-align: center;
    line-height: 70px; }

@media screen and (max-width: 1179px) {
  #header {
    background: #fff;
    padding: 4vh 12vw;
    flex-direction: column;
    position: fixed;
    border-bottom: 1px solid #e2e2d3; }
    #header .logo i {
      background-color: #000;
      color: #fff; }
    #header .logo span {
      color: #000; }
    #header .header-menu {
      margin-top: 20px;
      flex-direction: column;
      width: 100%;
      display: none; }
      #header .header-menu li {
        margin-left: 0px;
        text-align: center;
        padding: 10px; }
        #header .header-menu li a {
          color: #000; }
        #header .header-menu li:hover {
          background-color: #e2e2d3; }
        #header .header-menu li:hover a {
          color: #a6a695; }
    #header .toggle {
      display: block; }

  #home .background .title {
    top: 50%; }
    #home .background .title h1 {
      font: bold 70px 'alice'; }
  #home .info .inner .notice .alarm {
    display: none; }

  #about {
    height: auto;
    flex-direction: column; }
    #about .intro h1 {
      margin: 60px 0; }
    #about .intro h2 {
      margin-bottom: 20px; }
    #about .intro p {
      margin-bottom: 40px; }
    #about .place-pics {
      margin-top: 20px; }

  #exhibitions .displays {
    flex-wrap: wrap; }
    #exhibitions .displays .display {
      width: 50%; }

  #events .event {
    flex-direction: column; }
    #events .event .event-pic {
      width: 100%;
      margin-bottom: 20px; }
    #events .event .event-description {
      width: 100%; }
  #events .reverse {
    flex-direction: column; }

  #collection .collection-intro {
    flex-direction: column; }
    #collection .collection-intro .colection-pics {
      flex-basis: 100%; }
    #collection .collection-intro .collection-description,
    #collection .collection-intro .collection-gallery {
      flex-basis: 100%;
      padding: 0px; }

  #guidance ul {
    flex-wrap: wrap; }
    #guidance ul li {
      width: 33%; }

  #footer .wrap .footer-upper {
    display: none; }
  #footer .wrap .footer-lower ul {
    flex-wrap: wrap; }
    #footer .wrap .footer-lower ul li {
      width: 50%; } }
@media screen and (max-width: 539px) {
  #header .toggle {
    right: 10px; }

  #home .background .title h1 {
    font: bold 45px 'alice'; }

  #about .intro h1 {
    font: bold 40px 'alice'; }

  #exhibitions h1 {
    font: bold 40px 'alice'; }
  #exhibitions .displays .display {
    width: 100%; }

  #events .event .event-pic .img {
    width: 100%;
    height: 280px; }
  #events .event .event-description .inner {
    width: 100%; }
  #events .reverse {
    flex-direction: column; }

  #testimonials .testimonial .profile img {
    width: 200px;
    height: 200px; }

  #collection h1,
  #testimonials h1 {
    font: bold 40px/1 'alice'; }

  #guidance ul li {
    width: 50%; }

  #footer .wrap .footer-lower ul li {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
