@import url("https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

#header {
  position: absolute;
  width: 100%;
  padding: 2vw 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2; }
  #header .logo {
    font-size: 24px; }
    #header .logo i {
      margin-right: 10px;
      background-color: #e2e2d3;
      padding: 6px;
      border-radius: 4px; }
    #header .logo span {
      font: 600 28px/1 'alice';
      color: #e2e2d3; }
  #header .header-menu {
    display: flex; }
    #header .header-menu li {
      margin-left: 24px; }
      #header .header-menu li a {
        font: 16px/1 'alice';
        color: #fff;
        transition: all 0.3s; }
        #header .header-menu li a:hover {
          color: #e2e2d3; }

#home .background {
  width: 100%;
  height: 90vh; }
  #home .background img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #home .background .title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff; }
    #home .background .title h1 {
      font: bold 80px 'alice';
      margin-bottom: 20px; }
    #home .background .title span {
      position: relative;
      left: 60px; }
      #home .background .title span:before {
        content: '';
        display: block;
        width: 30px;
        border: 1px solid #fff;
        position: absolute;
        left: -40px;
        top: 10px; }
      #home .background .title span a {
        font: 18px 'alice';
        color: #fff;
        transition: all 0.3s; }
        #home .background .title span a:hover {
          color: #e2e2d3; }
#home .info {
  background-color: #e2e2d3; }
  #home .info .inner {
    padding: 0 10vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #home .info .inner h2 {
      font: bold 28px/1 'alice'; }
    #home .info .inner .notice .alarm {
      font: 16px/1 'arial'; }
    #home .info .inner .notice .more {
      font: bold 16px/1 'alice';
      margin-left: 40px;
      position: relative; }
      #home .info .inner .notice .more::before {
        content: "";
        display: block;
        width: 20px;
        border-bottom: 2px solid black;
        position: absolute;
        top: 10px;
        left: -30px; }
      #home .info .inner .notice .more a {
        color: #000; }

#about {
  padding: 10vh 10vw;
  height: 100vh;
  background: url(../img/bg.png) no-repeat center/cover;
  display: flex;
  justify-content: space-between; }
  #about .intro {
    flex-basis: 30%; }
    #about .intro h1 {
      font: bold 60px/1 "alice";
      margin: 80px 0; }
    #about .intro h2 {
      font: 28px 'alice';
      margin-bottom: 40px;
      color: #a6a695; }
    #about .intro p {
      font: 16px/1.5 'arial';
      margin-bottom: 80px;
      color: #aaa5bc; }
    #about .intro span {
      font: bold 16px/1 'alice';
      margin-left: 30px;
      position: relative; }
      #about .intro span::before {
        content: "";
        display: block;
        width: 20px;
        border-bottom: 2px solid black;
        position: absolute;
        top: 10px;
        left: -30px; }
      #about .intro span a {
        color: #000; }
  #about .place-pics {
    flex-basis: 70%;
    padding: 2vw 0;
    display: flex; }
    #about .place-pics .place1 {
      width: 40%;
      height: 80%;
      position: relative;
      top: 50px;
      left: 40px;
      object-fit: cover;
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6); }
    #about .place-pics .place2 {
      width: 60%;
      object-fit: cover;
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6); }

/*# sourceMappingURL=style.css.map */
