@import url("https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

section {
  background: url(../img/bg.png) no-repeat center/cover; }

#header {
  position: absolute;
  width: 100%;
  padding: 2vw 12vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2; }
  #header .logo {
    font-size: 24px; }
    #header .logo i {
      margin-right: 10px;
      background-color: #e2e2d3;
      padding: 6px;
      border-radius: 4px; }
    #header .logo span {
      font: 600 28px/1 'alice';
      color: #e2e2d3; }
  #header .header-menu {
    display: flex; }
    #header .header-menu li {
      margin-left: 24px; }
      #header .header-menu li a {
        font: 16px/1 'alice';
        color: #fff;
        transition: all 0.3s; }
        #header .header-menu li a:hover {
          color: #e2e2d3; }
  #header .toggle {
    position: fixed;
    top: 28px;
    right: 80px;
    color: #000;
    border: none;
    background-color: transparent;
    display: none; }
    #header .toggle i {
      font-size: 20px;
      padding: 6px;
      color: #a6a695;
      cursor: pointer; }

#home .background {
  width: 100%;
  height: 90vh; }
  #home .background img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #home .background .title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    width: max-content; }
    #home .background .title h1 {
      font: bold 88px 'alice';
      margin-bottom: 20px; }
    #home .background .title span {
      position: relative;
      left: 40px; }
      #home .background .title span:before {
        content: '';
        display: block;
        width: 30px;
        border: 1px solid #fff;
        position: absolute;
        left: -40px;
        top: 10px; }
      #home .background .title span a {
        font: 18px 'alice';
        color: #fff;
        transition: all 0.3s; }
        #home .background .title span a:hover {
          color: #e2e2d3; }
#home .info {
  background-color: #e2e2d3; }
  #home .info .inner {
    padding: 0 12vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #home .info .inner h2 {
      font: bold 28px/1 'alice'; }
    #home .info .inner .notice .alarm {
      font: 16px/1 'arial'; }
    #home .info .inner .notice .more {
      font: bold 16px/1 'alice';
      margin-left: 40px;
      position: relative; }
      #home .info .inner .notice .more::before {
        content: '';
        display: block;
        width: 20px;
        border-bottom: 2px solid black;
        position: absolute;
        top: 8px;
        left: -30px; }
      #home .info .inner .notice .more a {
        color: #000; }

#about {
  padding: 8vh 12vw;
  height: 100vh;
  display: flex;
  justify-content: space-between; }
  #about .intro {
    flex-basis: 30%; }
    #about .intro h1 {
      font: bold 60px/1 'alice';
      margin: 80px 0; }
    #about .intro h2 {
      font: 28px 'alice';
      margin-bottom: 40px;
      color: #a6a695; }
    #about .intro p {
      font: 16px/1.5 'arial';
      margin-bottom: 80px;
      color: #aaa5bc; }
    #about .intro span {
      font: bold 16px/1 'alice';
      margin-left: 30px;
      position: relative; }
      #about .intro span::before {
        content: '';
        display: block;
        width: 20px;
        border-bottom: 2px solid black;
        position: absolute;
        top: 8px;
        left: -30px; }
      #about .intro span a {
        color: #000; }
  #about .place-pics {
    flex-basis: 70%;
    padding: 2vw 0;
    display: flex;
    padding-right: 40px; }
    #about .place-pics img {
      object-fit: cover;
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6); }
    #about .place-pics .place1 {
      width: 40%;
      height: 80%;
      position: relative;
      top: 50px;
      left: 40px; }
    #about .place-pics .place2 {
      width: 60%; }

#exhibitions {
  padding: 8vh 12vw;
  height: 100vh; }
  #exhibitions h1 {
    font: bold 60px/1 'alice';
    margin-bottom: 60px; }
  #exhibitions .displays {
    display: flex;
    justify-content: space-between; }
    #exhibitions .displays .display {
      padding-right: 20px;
      width: 280px; }
      #exhibitions .displays .display:last-child {
        padding-right: 0; }
      #exhibitions .displays .display .pic img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 40px;
        transition: all 0.3s ease; }
        #exhibitions .displays .display .pic img:hover {
          transform: translateY(-20px); }
      #exhibitions .displays .display .pic h2 {
        font: 18px/1 'alice';
        margin-bottom: 20px; }
      #exhibitions .displays .display .pic p {
        font: 16px/1.5 'arial';
        color: #aaa5bc; }

#events {
  padding: 0vh 12vw 8vh 12vw; }
  #events h1 {
    font: bold 60px/1 'alice';
    position: absolute;
    left: 50%; }
  #events .event {
    display: flex;
    align-items: center; }
    #events .event .event-pic {
      flex-basis: 50%;
      text-align: center; }
      #events .event .event-pic img {
        width: 80%;
        height: 400px;
        object-fit: cover; }
    #events .event .event-description {
      flex-basis: 50%;
      padding-right: 40px; }
      #events .event .event-description h2 {
        font: 28px 'alice';
        margin: 80px 0 40px 0;
        color: #a6a695; }
      #events .event .event-description p {
        font: 16px/1.5 'arial';
        margin-bottom: 80px;
        color: #aaa5bc; }
      #events .event .event-description span {
        font: bold 16px/1 'alice';
        margin-left: 30px;
        position: relative; }
        #events .event .event-description span::before {
          content: '';
          display: block;
          width: 20px;
          border-bottom: 2px solid black;
          position: absolute;
          top: 8px;
          left: -30px; }
        #events .event .event-description span a {
          color: #000; }
  #events .reverse {
    flex-direction: row-reverse; }
    #events .reverse .event-description {
      padding-right: 0;
      padding-left: 40px; }

#collection {
  padding: 8vh 12vw;
  background: black; }
  #collection h1 {
    font: bold 60px/1 'alice';
    margin-bottom: 60px;
    color: #fff; }
  #collection .collection-intro {
    display: flex;
    justify-content: space-between; }
    #collection .collection-intro .colection-pics {
      flex-basis: 70%;
      display: flex; }
      #collection .collection-intro .colection-pics .collection1 {
        width: 60%;
        object-fit: cover; }
      #collection .collection-intro .colection-pics .collection2 {
        width: 40%;
        height: 80%;
        object-fit: cover;
        position: relative;
        top: 40px;
        left: -30px; }
    #collection .collection-intro .collection-description,
    #collection .collection-intro .collection-gallery {
      flex-basis: 30%;
      padding: 20px; }
      #collection .collection-intro .collection-description h2,
      #collection .collection-intro .collection-gallery h2 {
        font: 28px 'alice';
        margin: 40px 0;
        color: #fff; }
      #collection .collection-intro .collection-description p,
      #collection .collection-intro .collection-gallery p {
        font: 16px/1.5 'arial';
        margin-bottom: 40px;
        color: #aaa5bc; }
      #collection .collection-intro .collection-description span,
      #collection .collection-intro .collection-gallery span {
        font: bold 16px/1 'alice';
        margin-left: 40px;
        position: relative; }
        #collection .collection-intro .collection-description span::before,
        #collection .collection-intro .collection-gallery span::before {
          content: '';
          display: block;
          width: 20px;
          border-bottom: 2px solid #fff;
          position: absolute;
          top: 8px;
          left: -30px; }
        #collection .collection-intro .collection-description span a,
        #collection .collection-intro .collection-gallery span a {
          color: #fff; }
  #collection .collection-gallery h2 {
    font: 28px 'alice';
    margin: 40px 0;
    color: #fff; }
  #collection .collection-gallery p {
    font: 16px/1.5 'arial';
    margin-bottom: 40px;
    color: #aaa5bc; }
  #collection .collection-gallery span {
    font: bold 16px/1 'alice';
    margin-left: 40px;
    position: relative; }
    #collection .collection-gallery span::before {
      content: '';
      display: block;
      width: 20px;
      border-bottom: 2px solid #fff;
      position: absolute;
      top: 10px;
      left: -30px; }
    #collection .collection-gallery span a {
      color: #fff; }

#testimonials {
  padding: 8vh 12vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #testimonials h1 {
    font: bold 60px/1 'alice';
    margin-bottom: 40px; }
  #testimonials .testimonial {
    text-align: center; }
    #testimonials .testimonial .profile img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6); }
    #testimonials .testimonial p {
      font: 16px/1.5 'arial';
      margin: 40px 0;
      color: #aaa5bc; }
    #testimonials .testimonial span {
      font: bold 28px 'alice';
      color: #a6a695; }

#guidance {
  padding: 8vh 12vw; }
  #guidance ul {
    display: flex;
    justify-content: space-between; }
    #guidance ul li {
      display: flex;
      flex-direction: column;
      flex-basis: 15%;
      text-align: center;
      padding: 30px; }
      #guidance ul li i {
        font-size: 60px;
        color: #a6a695;
        margin-bottom: 20px; }
      #guidance ul li span {
        font: 20px/1 'alice'; }
      #guidance ul li:hover {
        background-color: #e2e2d3; }

#footer {
  background-color: #e2e2d3; }
  #footer .wrap {
    padding: 10vh 12vw; }
    #footer .wrap .footer-upper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 80px; }
      #footer .wrap .footer-upper .logo {
        font-size: 24px; }
        #footer .wrap .footer-upper .logo i {
          margin-right: 10px;
          background-color: #000;
          padding: 6px;
          border-radius: 4px;
          color: #fff; }
        #footer .wrap .footer-upper .logo span {
          font: 600 28px/1 'alice';
          color: #000; }
      #footer .wrap .footer-upper .footer-menu {
        display: flex; }
        #footer .wrap .footer-upper .footer-menu li {
          margin-left: 24px; }
          #footer .wrap .footer-upper .footer-menu li a {
            font: 16px/1 'alice';
            color: #000;
            transition: all 0.3s; }
            #footer .wrap .footer-upper .footer-menu li a:hover {
              color: #e2e2d3; }
    #footer .wrap .footer-lower ul {
      display: flex;
      justify-content: space-between; }
      #footer .wrap .footer-lower ul li {
        flex-basis: 20%;
        display: flex;
        flex-direction: column; }
        #footer .wrap .footer-lower ul li h2 {
          font: bold 18px 'alice';
          margin-bottom: 10px; }
        #footer .wrap .footer-lower ul li p {
          font: 14px/1.5 'arial';
          color: #a6a695; }
        #footer .wrap .footer-lower ul li > a {
          color: #a6a695; }
        #footer .wrap .footer-lower ul li input {
          max-width: 200px;
          margin: 20px 0; }
        #footer .wrap .footer-lower ul li span a {
          color: #000; }
  #footer .copyright {
    height: 70px;
    background: #000;
    color: #aaa5bc;
    text-align: center;
    line-height: 70px; }

@media screen and (max-width: 1179px) {
  #header {
    background: #fff;
    padding: 4vh 12vw;
    flex-direction: column;
    position: fixed;
    border-bottom: 1px solid #e2e2d3; }
    #header .logo i {
      background-color: #000;
      color: #fff; }
    #header .logo span {
      color: #000; }
    #header .header-menu {
      margin-top: 20px;
      flex-direction: column;
      width: 100%;
      display: none; }
      #header .header-menu li {
        margin-left: 0px;
        text-align: center;
        padding: 10px; }
        #header .header-menu li a {
          color: #000; }
        #header .header-menu li:hover {
          background-color: #e2e2d3; }
        #header .header-menu li:hover a {
          color: #a6a695; }
    #header .toggle {
      display: block; }

  #home .background .title {
    left: 0;
    transform: translateX(0);
    padding: 0 12vw;
    width: auto; }
    #home .background .title h1 {
      font: bold 80px 'alice'; }
  #home .info .inner .notice .alarm {
    display: none; }

  #about {
    height: auto;
    flex-direction: column; }
    #about .intro h1 {
      margin: 40px 0; }
    #about .intro h2 {
      margin-bottom: 20px; }
    #about .intro p {
      margin-bottom: 40px; }
    #about .place-pics {
      margin-top: 20px; }

  #exhibitions {
    height: auto; }
    #exhibitions .displays {
      flex-wrap: wrap; }
      #exhibitions .displays .display {
        padding-right: 20px;
        width: 50%; }
        #exhibitions .displays .display:nth-last-child(2n-1) {
          padding-right: 0; }
        #exhibitions .displays .display .pic img {
          margin-bottom: 20px; }
        #exhibitions .displays .display .pic p {
          margin-bottom: 40px; }

  #events {
    padding: 0vh 12vw 8vh 12vw; }
    #events h1 {
      position: static;
      margin-bottom: 60px; }
    #events .event {
      flex-direction: column;
      margin-bottom: 40px;
      text-align: center; }
      #events .event .event-pic {
        flex-basis: 100%; }
      #events .event .event-description {
        flex-basis: 100%;
        padding-right: 0; }
        #events .event .event-description h2 {
          margin: 40px 0; }
        #events .event .event-description p {
          margin-bottom: 20px; }
    #events .reverse {
      flex-direction: column; }
      #events .reverse .event-description {
        padding-left: 0; } }
@media screen and (max-width: 539px) {
  #header .toggle {
    right: 10px; }

  #home .background .title {
    left: 0;
    transform: translateX(0);
    padding: 0 12vw;
    width: auto; }
    #home .background .title h1 {
      font: bold 50px 'alice'; }

  #exhibitions {
    height: auto; }
    #exhibitions .displays {
      flex-direction: column; }
      #exhibitions .displays .display {
        padding-right: 0px;
        width: 100%; } }

/*# sourceMappingURL=style.css.map */
