.collection{
.inner{
   animation: fade 1s ease-in-out;
   >p {
      font: 16px/1.2 'Roboto';
      padding: 0 60px 40px 60px;
      color: #2f4858;
      border-bottom: 2px dashed #e2e2d3;
   }
}
}
#gallery{

    #wrap{
       width:100%; padding:50px 0;

       .loading{
          width:100px;
          position:fixed; top:50%; left:50%; transform:translate(-50%,-50%);
          transition:1s;

          &.off{
             opacity:0;
          }
       }

       #list{
          width:100%; transform:translateY(-100px); opacity:0; transition:1s;
         display: flex;
          &.on{
             opacity:1; transform:translateY(0px);
          }

          li{
             float:left; width:25%; padding:20px;
             box-sizing:border-box;
             >div{
                width:100%; box-sizing:border-box;
               border: 1px solid #e2e2d3;
               border-radius: 4px;
               overflow: hidden;
               transition: all 0.3s;
                   >img{ width:100%; filter:grayscale(100%);  }
                .text{

                h2{
                   font:bold 14px/1 'Roboto'; color:#333;
                   margin-top:10px; margin-bottom:10px;
                   padding: 10px;
                }
                p{
                   font: 12px/1.2 'Roboto';
                   margin-bottom:20px;
                   padding: 10px;
                   color: #b7c3b4;;
                }
                a{
                   display: block;
                   background: #e2e2d3;
                   padding: 10px;
                   color: #555;
                   font: bold 10px/1 'Times New Roman';
                   letter-spacing: 5px;
                   border-bottom: 2px solid #2f4858;

                }
               }


                &:hover >img{ filter:grayscale(0%); }
                &:hover{
                   transform: translateY(-20px);
                }
             }
          }
       }
    }
 }


 @media screen and (max-width: 999px){
    #gallery #wrap #list li { width:33.333%;}
 }
 @media screen and (max-width: 749px){
    #gallery{
       #searchBox{
          padding:50px 0px 0px;
          input[type=text]{ width:100%; }
          .btnSearch{ width:100%; margin-left:0px; margin-top:10px;}
       }

       #wrap #list li { width:50%;}
    }


 }
 @media screen and (max-width: 439px){
    #gallery #wrap #list li { width:100%;}
 }