.contact {
	.inner {
		.contactUs {
			display: flex;
			justify-content: space-between;

			.description {
				padding: 20px;
				padding-left: 100px;
				width: 45%;
				text-align: left;

				.description-upper {
					margin-bottom: 80px;
					h2 {
						margin-bottom: 40px;
					}
					p {
						color: #9e9e9e;
						font-size: 16px;
						margin-bottom: 20px;
					}
				}
				.description-lower {
					display: flex;
					justify-content: space-between;
					.branch {
						width: 45%;
						display: flex;
						flex-direction: column;
						h3 {
							margin-bottom: 20px;
						}
                        span{
                            display: block;
                            color: #9e9e9e;
						font-size: 16px;
                        line-height: 1.5;
                        }
					}
				}
			}
			#contact-form {
				border-radius: 10px;
				padding: 20px;
				border: 1px solid #e2e2d3;
				text-align: left;
				width: 45%;
				display: flex;
				flex-direction: column;
				h2 {
					font-size: 24px;
					margin-bottom: 40px;
				}
				p {
					color: #9e9e9e;
					font-size: 16px;
					margin-bottom: 40px;
				}
				input,
				textarea {
					margin-bottom: 20px;
					padding: 1vh 0;
					padding-left: 1vw;
				}
                input[type=submit]{
                    background: #2f4858;
                    color: #e2e2d3;
                    cursor: pointer;
                }
			}
		}
	}
}
