@charset 'UTF-8';

@import 'reset.scss';
// font
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:wght@400;600;700&display=swap');

// header
#header {
	position: absolute;
	width: 100%;
	padding: 2vw 10vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
    z-index: 2;

	.log {
		font-size: 24px;
		i {
			margin-right: 10px;
			background-color: #e2e2d3;
			padding: 6px;
			border-radius: 4px;
		}
		span {
			font: 600 28px/1 'alice';
			color: #e2e2d3;
		}
	}
	.header-menu {
		display: flex;
		li {
			margin-left: 24px;
			a {
				font: 16px/1 'alice';
				color: #fff;
				transition: all 0.3s;
				&:hover {
					color: #e2e2d3;
				}
			}
		}
	}
}
// home
#home {
	.background {
        width: 100%;
        height: 90vh;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
            // filter: grayscale(30%);
		}
		.title {
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translateX(-50%);
			color: #fff;
			h1 {
				font: bold 80px 'alice';
				margin-bottom: 20px;
			}

			span {
				position: relative;
				left: 60px;
				&:before {
					content: '';
					display: block;
					width: 30px;
					border: 1px solid #fff;
					position: absolute;
					left: -40px;
					top: 10px;
				}
                a{
                    font: 18px 'alice';
                    color: #fff;
                    transition: all 0.3s;
                    &:hover{
                        color:#e2e2d3;
                    }

                }
			}
		}
	}
	.info {
		background-color: #e2e2d3;
		.inner {
            padding: 0 10vw;
			height: 10vh;
			display: flex;
			justify-content: space-between;
			align-items: center;
			h2 {
				font: bold 28px/1 'alice';
			}
			.notice {
                .alarm{
                    font: 16px/1 'arial';
                }
                .more{
                    font: bold 16px/1 'alice';
                    margin-left: 40px;
                    position: relative;
                    &::before{
                        content: "";
                        display: block;
                        width: 20px;
                        border-bottom: 2px solid black;
                        position: absolute;
                        top: 10px;
                        left: -30px;

                    }
                }
			}
		}
	}
}
